@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  font-size: 0.9em;
  width: 100%;
}

header .logo img {
  width: auto;
  height: 50px;
}

header .user span,
header .user #globe {
  padding: 10px 15px;
  font-weight: 400;
}

header .user span:hover,
header .user #globe:hover {
  background-color: rgba(241, 241, 241, 0.89);
  border-radius: 25px;
  cursor: pointer;
}

header button {
  border: transparent;
  background-color: transparent;
  border-radius: 25px;
}

header button i {
  font-size: 1.3em;
  padding: 0 5px;
}

header button i:last-of-type {
  font-size: 2em;
}

.bi-globe {
  margin-right: 1em;
  margin-bottom: 1em;
}

.min {
  min-width: 150px;
}

.btn-group svg+svg {
  margin: 0;
  margin-left: 0.7em;
}

.btn-group {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 25px;
  transition: box-shadow 0.3s;
  padding: 0.2em 0em;
  z-index: inherit;
  min-width: 90px;
}

.btn-group:hover {
  box-shadow: 0px 5px 5px -3px #999999;

}

.btn {
  --bs-btn-border-width: none;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: none;
}

button.btn {
  margin: 0;
}

.dropdown-menu {
  width: 230px;
  font-size: 1em;
  border: none;
  border-radius: 15px;
  box-shadow: 4px -4px 15px -2px rgba(231, 231, 231, 0.877);
}

.dropdown-menu ul {
  padding: 0;

}

.dropdown-item {
  padding: 0.6em 1em;
  margin: 0;
  width: 100%;
}


/*ICONS CAROUSEL*/


header {
  top: 0%;
  background-color: white;
}

nav {
  top: 100px;
  background-color: white;
  border-top: solid 0.2px #e2e2e2;
  padding-top: 20px;
}


#iconsCarousel button {
  position: absolute;
  height: 100%;
  width: 10%;
}

.carousel-control-prev {
  left: -3%;
}

.carousel-control-next {
  right: -3%;
}

@media (max-width: 767px) {

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

.icon p {
  font-size: 0.7rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .icon p {
    font-size: 0.5rem;
    font-weight: bold;
  }

}

.icon {
  opacity: 0.6;

}

.icon:hover {
  opacity: 1;
  cursor: pointer;
}

/* CARD */

.card {
  width: 100%;
  height: auto;
  border: none;
}

.card .carousel-control-prev {
  left: 3%;
}

.card .carousel-control-next {
  right: 3%;
}

.card .carousel-control-prev-icon,
.card .carousel-control-next-icon {
  display: block;
  opacity: 0;
  width: 2rem;
  height: 2rem;
  background-image: none;


  /* background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%; */
}

.card .carousel-control-prev,
.card .carousel-control-next {
  opacity: 1;

}

.card .carousel:hover {
  cursor: pointer;
}


.card .carousel-control-next-icon img,
.carousel-control-prev-icon img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: .9;
  background-color: white;
  padding: .7em;
  transition: transform .3s;
}

.save-btn {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: .4em;
  width: 35px;
  height: 35px;
  z-index: 800;
  top: 5%;
  right: 5%;
  opacity: .9;
  transition: transform .3s;
}
.save-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.card .carousel-control-next-icon:hover img, .carousel-control-prev-icon:hover img {
  transform: scale(1.1);
  opacity: 1;
}

.card .carousel .carousel-control-prev-icon, 
.card .carousel .carousel-control-next-icon {
  transition: opacity .4s;
}

.card .carousel:hover .carousel-control-prev-icon, 
.card .carousel:hover .carousel-control-next-icon {
  cursor: pointer;
  opacity: .9;
  
}

.card .carousel-inner {
  border-radius: 15px;
  overflow: hidden;
}

.card .carousel-item {
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
}

.card .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1em 0;
  color: black
}

.card-title,
.card-text {
  font-size: 0.9em;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

.card-title,
.card-text:last-of-type {
  font-weight: 700;
}

.card .carousel .carousel-indicators button {
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
}



/* TOP BAR NAV */

#spostaDiv div{
  margin-inline: 12px;
}

.bar-container {
  box-shadow: 0 0 5px hsl(0 0% 78%);
  border-radius: 50px;
  display: flex;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer; 
  width: auto; 
  justify-content: space-around;
  padding-inline: 10px;
}

.bar-container div {
  border-radius: inherit;
}

.bar-container div:hover {
  background: hsl(0 0% 94%);
}

.bar-container button{
  padding-inline: 14px 24px;
}




input[type="text"] {
  background: none;
  border: none;
  padding: 0.2rem 0 0 0;
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
}


.guests span {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12%;
  right: 10px;
  background: #FF385C;
  color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  padding: 1em 1em;
}

.guests span i {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}


.bar-container>div::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background: hsl(0 0% 90%);
}

.bar-container>div:nth-of-type(1)::before {
  background: transparent;
}


.bar-container>div:hover::before {
  background: transparent;
}

.bar-container p {
  margin-bottom: 0;
  text-align: left;
}

/*NAV FOOTER*/

#inspiration {
  background-color: #f7f7f7;
  border-bottom: solid 0.5px #e2e2e2;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
  border-bottom: solid 0.5px #e2e2e2;
}

.scroll-item {
  display: inline-block;
  width: auto;
  scroll-snap-align: start;
  margin-right: 10px;
}

.carousel-arrow {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  font-size: 7rem;
  cursor: pointer;
  z-index: 100;
}

.carousel-arrow.left {
  left: -5%;
}

.carousel-arrow.right {
  right: -5%;
}

@media (min-width:992px) {

  .carousel-arrow {
    display: none;
  }

}

.dc {
  display: contents;
}

.tab-pane {
  padding-top: 1em;
}

.tab-pane ul {
  padding: 0;
}

.tab-pane li {
  list-style-type: none;
  font-size: 0.9em;
}

.tab-pane ul li:first-of-type {
  font-weight: 600;
}

.tab-pane ul li:nth-of-type(2) {
  color: #5e5e5e;
}

.tab-pane li:hover {
  cursor: pointer;
}

.nav-tabs .nav-link {
  margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
  border: transparent;
  border-bottom: solid transparent;
  font-weight: 500;
  font-size: 0.9em;
  color: #5e5e5e;
  margin-right: 0.5em;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #5e5e5e;
  font-weight: 700;
}

footer {
  background-color: #f7f7f7;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  font-size: 0.9em;
  padding: 0;
  margin-bottom: 0;
}

footer ul h6 {
  font-size: 1em;
  font-weight: 800;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

footer ul li {
  padding-bottom: 1em;
}

footer ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer .row div {
  padding: 0;

}


#top {
  margin-left: .5em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  display: flex;
  justify-content: left;
}

#top div {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

#top div p,
#top div i {
  margin: 0;
  font-size: 0.9em;
  font-weight: 700
}

#top div p {
  padding: 0 0.3em;
}

#top div:nth-child(2) {
  margin-right: 4em;
}

#top div span {
  font-size: 18px;
  font-weight: bold;
}

#top div p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icons img {
  margin-right: 1em;
}

#top div img {
  height: 24px;
  width: 24px;
}

#foot {
  margin-left: .5em;
}

#foot ul {
  display: flex;
}

#foot ul li {
  padding-right: .9em;
  font-size: 0.9em;
}

#foot div p {
  font-size: 0.9em;
  font-weight: 400;
}

#foot ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width:767px) and (max-width: 1199px) {
  #top {
    justify-content: center;
  }

  #foot div {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  #end {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  #foot  {
  display: flex;
  align-items: center;
  }

  #foot div p {
    padding-right: 1em;
  }
}

@media (max-width:575px) {
  #end #foot ul {
    flex-direction: column;
  }
}


/*SECOND PAGE*/

#second-main {
  display: flex;
  justify-content: center;
}

main .results {
  width: 65%;
  height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;

}

main .map {
  width: 35%;
}

main .map iframe {
  height: 80vh;
  width: 100%;
}

.results-title {
  font-size: 0.9em;
  font-weight: 600;
}

@media (max-width: 575px) {

  #second-main {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  main .map {
    position: fixed;
    width: 100%;
  }

  main .map iframe {
    width: 100%;
  }

  body {
    padding-top: 100px;
  }

  main .results {
    width: 100%;
    overflow-y: visible;
    z-index: 1000;
    margin-top: 40vh;
    background-color: white;
    border-radius: 25px 25px 0 0;
    padding: 0;
  }

  .card {
    padding: 1em;
    width: 100%;
  }

  nav {
    display: none;
  }

  .results-title {
    font-size: 0.9em;
    font-weight: 800;
    padding-top: 1em;
    text-align: center;
  }
  

}

@media (min-width: 576px) and (max-width: 991px) {

  main .map {
    display: none;
  }

  main .map iframe {
    width: 100%;
  }

  main .results {
    width: 100%;
    background-color: white;
  }

}


/* THIRD PAGE */

#rooms {
  padding-top: 0;
  width: 100%;
}

#rooms header {
  position: static;
}


h1 {
  font-size: 1.5em;
  font-weight: 600;
}

#rooms section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#rooms section img:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#rooms section #img-container {
  border-radius: 15px;
  overflow: hidden;
}

#right-nav span {
  padding: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}


h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-weight: 400;
}

.booking-modal {
  align-items: end;
}

.sticky {
  position: sticky;
  top: 20%;
}

.reservation-card {
  border-radius: 8px;
  box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.price {
  font-size: 1.3em;
  font-weight: bold;
}

.total-price {
  font-size: 1em;
  font-weight: bold;
}

.reservation-details {
  font-size: 14px;
  color: #777;
}

.reserve-btn {
  background: linear-gradient(90deg, rgba(228, 29, 87, 1) 0%, rgba(219, 12, 100, 1) 100%);
  border: none;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}


.guest-favourite {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.guest-favourite>* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 0.3em 0;
}

#rooms section .trophy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

#rooms section .trophy span {
  text-align: center;
  padding: 0;
}

#rooms section .trophy img {
  width: 2em;
}


.guest-favourite :nth-child(2) {
  text-align: start;
}

.rating span:first-of-type,
.reviews span:first-of-type {
  font-size: 1.4em;
  padding: 0;
}

.rating span:last-of-type,
.reviews a {
  font-size: 0.7em;
  color: #222;
}


@media (max-width:1023px) {

  #rooms section .trophy {
    font-size: 0.8em;
  }

  .rating span:first-of-type,
  .reviews span:first-of-type {
    font-size: 1.2em;
    padding: 0;
  }

  .rating span:last-of-type,
  .reviews a {
    font-size: 0.6em;
    color: #222;
  }

}

.description .row {
  border: none;
  display: flex;
}


.description .row:first-of-type,
.description .row:last-of-type {
  padding-bottom: 1.5em;
  border-bottom: solid 0.5px #e2e2e2;
}

.description .row:nth-of-type(2) {
  padding-top: 1.5em;
}

.description .row .col {
  padding: 0;
}

.description .row .col-2 {
  text-align: center;
  cursor: pointer;  
}

#rooms .description .row:first-of-type span img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#rooms .description .row:nth-of-type(2) span img,
#rooms .description .row span i {
  height: 1.2em;
  width: 1.2em;
  font-size: 1.2em
}

.description .row .col-10 p {
  margin: 0;
}

.description .row .col-10 p:first-of-type {
  font-weight: bold;
}

.description .row .col-10 p:last-of-type {
  font-size: 0.9em;
  opacity: 0.9;
}

@media (max-width:575px) {

  #rooms .description .row:first-of-type span img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  
}


.description .features-description {
  padding-top: 2em;
  font-size: 0.9em;

}

.description .features-description p:first-of-type {
  background-color: #f7f7f7;
  padding: 1em;
}

.description .features-description .btn {
  padding: 0;
  font-size: 1em;
}


.description .features-list h3 {
  font-size: 1.4em;
  font-weight: 600;
}

.description .features-list ul {
  padding: 0;
  margin: 0;
}
.description .features-list li {
  list-style-type: none;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}

.description .features-list li span:last-of-type {
  padding: 0 1em ;
}

.calendar h4 {
  font-size: 1.3em;
  font-weight: 600;
}

.calendar h5{
  font-size: 0.9em;
  opacity: 0.9;
}

#calendar-container {
  border-radius: 15px;
}

#calendar-container table {
  table-layout: fixed;
}

#calendar-container button {
  border-radius: 50%;
}

#calendar-container button:last-of-type {
  border-radius: 15px;
  text-decoration: underline;
  font-size: 0.9em;
}


table th, table td {
  width: 14.27%;
  border: transparent;
}
 
table td:hover {
  cursor: pointer;
  background-color: #ddd;
}

.mapbtn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 100;
  height: 50px;
    width: 130px;
    border-radius: 24px;
    background: rgb(34, 34, 34);
}
.mapbtn:hover {
  color:  rgb(34, 34, 34);
  background-color:  rgb(34, 34, 34);
  border-color:  rgb(34, 34, 34);
  --bs-btn-active-bg: rgb(34, 34, 34) ;
}
.mapbtn span{
  color: white;
  font-weight: 400;
}

@media (min-width: 576px) and (max-width: 991.98px) { 
  .mapbtn {
      display: block;
  }
}

.modal-content{
      background-color: transparent;
      border: transparent;
}
.modal-header{
  border-bottom: transparent;
}
.modal-header .btn-close{
  background-color: antiquewhite;
}


.ratings-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.rating-item {
  flex: 1 1 calc(14.28% - 20px); /* Each item takes approximately 1/7th of the container width */
  text-align: start;
}

.rating-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.bar {
  width: 100%;
  background-color: #f1f1f1;
  height: 6px;
  margin: 3px 0;
  position: relative;
}

.fill {
  background-color: #222;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

h6 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#spostaDiv {
  justify-content: center;
  position: relative;
  display: flex;
  padding-left: 10em;
}
#spostaDiv div{
  padding-right: 1%;
}
#spostaDiv.spostato {
  animation-name: trasforma1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
#spostaDiv2 {
  width: auto;
  position: relative;
  display: flex;
}
#spostaDivdue.spostato {
  animation-name: trasforma2;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

@keyframes trasforma1 {
        from {top: 0;}
        to {top: -100px;}
    }
    @keyframes trasforma2 {
        from {top: 0;}
        to {top: -20px;}
    }



