@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

*{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: #222;
}


header .logo img {
    width: auto;
    height: 50px;
}

header .user span,
header .user #globe {
    padding: 10px 15px;
    font-weight: 400;
}

header .user span:hover, 
header .user #globe:hover {
    background-color: rgba(241, 241, 241, 0.89);
    border-radius: 25px;
    cursor: pointer;
}

header button {
    border: solid 1px silver;
    padding: 0 4px;
    background-color: transparent;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5em;
}

header button i {
    font-size: 1.3em;
    padding: 0 5px;
}

header button i:last-of-type {
    font-size: 2em;
}

.card {
    width: 100%;
    height: 20em;
    border: none;
}

.card .carousel-slide {
    border-radius: 15px;
}

.card .carousel-item {
    width: 100%;
    height: 18em;
    border-radius: 15px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 1em 0;
    color: black
}

.card-title,
.card-text {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
}

.card-text:last-of-type{
    font-weight: 500;
}

.card .carousel .carousel-indicators button {
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
}


.div-input input{
    width: 100%;
    border: none;
    padding: 2px 0px;
}

button.search-btn{
    background: rgb(255, 56, 92) none repeat scroll 0% 0% !important;
    border-radius: 50%;
    padding: 0 1.1em;
    border: none;
}

.search-btn i {
    color: white;
    font-weight: 400;
}

/*SNAPSCROLL FOOTER*vvvvvvvvvvvvvvvvvv*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: transparent;
    border-bottom-color: currentcolor;
}

.scroll-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-item {
    display: inline-block;
    width: 300px;
    scroll-snap-align: start;
    margin-right: 10px;
}

.carousel-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
}

.carousel-arrow.left {
    left: -10px;
}

.carousel-arrow.right {
    right: -10px;
}

.dc {
    display: contents;
}
/*SNAPSCROLL FOOTER *^^^^^^^^^^^^^^*/

